/* 
    Document   : subscriber
    Created on : 09.09.2013, 14:53:10
    Author     : Администратор
    Description:
        Purpose of the stylesheet follows.
*/

.subscriber{
    cursor: pointer;
}

.subscriber:hover{
    background-image:url("pic/hover.png");
    background-repeat: repeat;
}